# This file is used by test-bw Python script

# ------------------------------------------------------------------------
#
# Test's line: TEST <parameter> <init_value> <inc> <end_value> <rest of parameters>
#
# TEST: Proof's header
# SIZE: size of frame
# WR_ETH_SENDER: interface will be used by sender
# PERIOD: transfer frecuency of packages
# NPACKG: Number of packages of each burst
# NBURSTS: Number of bursts of test
# RUN_REMOTE: Indicate that receiver interface is not in localhost (need not parameters)
#
# ------------------------------------------------------------------------

TEST PERIOD 100 100 1000 WR_ETH_SENDER eth1 SIZE 1490 NBURSTS 20 NPACKG 1000
